*{
  outline: none;
}

.container{
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem 3rem;
    @include mod('wide'){
      max-width: 100%;
    }
}
.color-list{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.6875rem;
}
.color-item{
  margin-right: 1.5rem;
  &__color{
    width:2.3125rem;
    height:2.3125rem;
    border-radius: 50%;
    margin: 0rem auto 0.5rem;
    border:1px solid #979797;
  }
  &__title{
    margin: 0px;
    text-align: center;
    @include font($Main-Font, 1rem, 400, $Dark );
  }
}
.tag-list{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.875rem;
}
.tag-item{
  background-color: #E9F5FD;
  width:5.5rem;
  text-align: center;
  padding: 0.5625rem 0rem;
  margin-right: 0.75rem;
  border-radius: 0.75rem;
  @include font($Main-Font, 1rem, 400, $Dark );
}
a.more,input.more{
  display: block;

  padding:0.625rem 0rem ;
  margin:0rem 0rem 1.5rem;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  background-color: #4587C8;
  &:hover{
    background-color: darken(#4587C8,10%);
  }
  @include font($Main-Font, 1.125rem, 400,white );
  &_page_catalog{
    width:10.125rem;
    @include breakpoint(max-width 1024px) {
      margin: 0rem auto 0rem;
    }
  }
  &_page_public{
    width:11.875rem;
    margin: 0px auto 1.5rem;
  }
  &_button_form{
    width:10.25rem;
    border: none;
    margin:0.4rem 0rem 1.5rem;
    @include breakpoint(max-width 890px) {
      margin: .4rem auto 0rem;
    }
  }
  &_button_registration{
    border: none;
    width:13.125rem;
    margin:1.5rem 0rem 1.5rem;
    font-size: 1rem;
  }
  &_button_login{
    border: none;
    width:10.25rem;
    margin:1.5rem 0rem 1.5rem;
    font-size: 1rem;
  }
}
.star-list{
  display: flex;
  margin:1.25rem auto;
  width:5.875rem;
}
.star-item{
  width:1.049375rem;
  height:0.99375rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.opt-block{
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__text{
    width:45%;
    p{
      @include font($Main-Font, 1rem, 400,$Dark );
      line-height: 1.625rem;
    }

  }


}
.introSection{
  position: relative;
.owl-dots{
  position: absolute!important;
  bottom: 35px!important;
  width: 100%!important;
  .owl-dot{
    &.active{
      span{
        background-color: #D6D6D6!important;
      }

    }
    span{
      background-color: transparent!important;
      border: 1px solid #D6D6D6!important;

    }
  }
}
  .item{
    height:43.75rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 4.375rem;
    h1{
      margin:0rem 0rem 1.25rem;
      text-align: center;
      @include font($Main-Font, 3.75rem, 500,$Dark );
      line-height: 4.4375rem;
      text-transform: uppercase;
    }
    h2{
      margin: 0px;
      text-align: center;
      @include font($Main-Font, 2.5rem, 400,$Dark );
      line-height: 2.9375rem;
      text-transform: uppercase;
    }
  }

}

//=============  BREAD CRUMBS ================//
.breadCrumbs{
  background-color: $Blue-active;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3rem 0;
  @include el('title'){
    @include font($Main-Font, 2rem, 300, white );
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    margin: 0;
  }
  @include el('pathList'){
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  @include el('listItem'){
    @include font($Main-Font, 1rem, 300, lighten($Gray, 30%));
    letter-spacing: 0.05rem;
    display: inline-block;
    padding: 0 0.8rem;
    &:last-child{
      color: white;
      &::after{
        display: none;
      }
    }
    &:last-child{
      &::after{
        display: none;
      }
    }
    &::after{
      content: "/";
      position: relative;
      left: 0.8rem;
      color: lighten($Gray, 40%);
    }
  }
  @include el('listHref'){
    @include font($Main-Font, 1rem, 300, lighten($Gray, 40%));
    letter-spacing: 0.05rem;
    text-decoration: none;
    &:hover{
      color: $Dark;
    }
  }
}

//=============  SHOP MENU ================//
.shopMenu{
  text-align: center;
  box-shadow: 0 1px 2px 1px rgba(1, 0, 1, 0.16);
  @include el('list'){
    max-width: 90rem;
    margin: 0 auto;
    padding: 0rem 3rem;
    list-style: none;
  }
  @include el('listItem'){
    display: inline-block;
  }
  @include el('listItemHref'){
    @include font($Main-Font, 1.125rem, 400, $Dark);
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 2rem;
    &:hover{
      color: $Blue-active;
    }
    @include mod('activeLink'){
      color: $Blue-active;
    }
  }
}


//=============== BORDERED SECTION ===========//

.borderedSection{
  @include font($Main-Font, 1rem, 300, $Dark);
  border-top: solid 1px lighten($Gray, 40%);
  @include el('title'){
    font-size: 1.5rem;
    position: relative;
    left: 2rem;
    top: -2.5rem;
    display: inline-block;
    background-color: white;
    padding: 0 2rem;
    font-weight:400;
    margin-bottom: -1rem;
    @include mod('small'){
      font-size: 1.2rem;
      top: -2rem;
    }
  }

  @include el('text'){
    line-height: 1.5rem;
    font-weight:400;
    margin-top:0;
  }

  @include el('listChar'){
    list-style: none;
    margin: 1.5rem 0;
    padding: 0;

  }
  @include el('itemChar'){
    display: inline-block;
    @include font($Main-Font, 1rem, 400, $Dark);
    margin: 1rem 0;
    margin-right: 1rem;
  }
  @include el('itemCharSpec'){
    background-color: $Blue-light;
    padding: 0.5rem 0.8rem;
    border-radius: 3rem;
    margin-left: 0.5rem;
    font-weight:300;
  }

  @include el('productsList'){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product{
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
  }
}

.formPreview{
  &__title{
    margin: 0px 0px 1.5rem!important;
    text-align: center;
    @include font($Main-Font, 1.5rem, 400, $Dark);
  }
  &_page_contacts{
    width:47%;
    @media (max-width: 890px){
      width: 100%;
    }
  }
  *{
    margin: 0px;
  }
  &__wrapper{

  }
  &__bigGroup{
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px){
      flex-direction: column;
    }
    .formPreview__group{
      width:47.916%;
      @media (max-width: 600px){
        width:100%;
      }
    }
  }
  &__group{
    margin:0rem 0rem 1.21875rem;
    display: flex;
    flex-direction: column;
  }
  &__label{
    margin-bottom: 0.625rem;
    @include font($Main-Font, 1rem, 400,$Dark );
  }
  &__error{
    margin: 0.5rem 0 0.5rem;
    @include font($Main-Font, 0.9rem, 400,$Red );
  }
  &__area,&__input{
    background-color: #F5F5F5;
    resize: none;
    border:1px solid #D8D8D8;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    line-height: 1.625rem;
    outline: none;
    @include font($Main-Font, 0.875rem, 400,$Dark );
    &:active,&:hover,&:focus{
      border-color: #4587C8;
    }
    &--error{
      border-color: red;
    }
  }
}
.select2-selection{
  font-family: $Main-Font!important;
  color: $Dark!important;
  font-size: 0.875rem!important;;
  font-weight: 400!important;

  border: 1px solid #d8d8d8!important;
  background-color: #f5f5f5!important;
  padding: .5rem 1rem!important;
  height: 2.75rem!important;
}
.select2-results__option{
  font-family: $Main-Font!important;
  color: $Dark!important;
  font-size: 0.875rem!important;;
  font-weight: 400!important;
}
.select2-selection--single {
  padding-left: 0px!important;
}
.notFind{
  @include el('imgWrapper'){
    width: 60%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/404.png");
    margin: 0 auto;
  }
  @include el('title'){
    @include font($Main-Font, 7rem, 500, $Red);
    letter-spacing: 0.5rem;
    text-align: center;
    margin: 2rem;
  }
  @include el('subTitle'){
    @include font($Main-Font, 2rem, 400, $Dark);
    text-align: center;
  }
  @include el('description'){
    @include font($Main-Font, 1.2rem, 300, $Dark);
    text-align: center;
    margin: 1rem;
    line-height: 1.6rem;
  }
  @include el('backwardLink'){
    text-align: center;
    margin: 2rem;
    width: auto;
  }
  @include el('backwardLinkHref'){
    text-decoration: none;
    @include font($Main-Font, 1.2rem, 400, $Blue-active);
    &:hover{
      text-decoration: underline;
      color: darken($Blue-active, 15%);
    }
  }
}


.addCartPopup {
  background-color: white;
  width: 50%;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
  @include el('titleBlock') {
    @include font($Main-Font, 1.3rem, 300, white);
    background-color: $Blue-active;
    letter-spacing: 1px;
    margin: 0;
    padding: 1.2rem 0;
    text-align: center;
  }
  @include el('imgItem') {
    width: 50%;
    margin: 2rem auto 1rem;
    border-radius: 1rem;
  }
  @include el('titleItem') {
    @include font($Main-Font, 1.3rem, 400, $Dark);
    text-align: center;
    line-height: 1.7rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
  @include el('priceItem') {
    @include font($Main-Font, 1.4rem, 400, $Blue-active);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  @include el('cartInfo') {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: solid 1px $Blue-light;
    border-top: solid 1px $Blue-light;
  }
  @include el('cartInfoItem') {
    @include font($Main-Font, 1.1rem, 400, $Dark);
    margin:0rem 1.5rem;
    span{
      color: $Blue-active;
      margin-left:0.5rem;
    }
  }

  @include el('actions'){
    display: flex;
    justify-content: center;
    margin: 0rem;
  }
  @include el('actionsItem'){
    border: solid 1px $Dark;
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 1rem 1.5rem;
    text-decoration: none;
    @include font($Main-Font, 1rem, 300, $Dark);
    @include mod('goBasket'){
      background-color: $Blue-active;
      border: $Blue-active;
      color: white;
      &:hover{
        background-color: darken($Blue-active, 10%);
      }
    }
    @include mod('goOn'){
      border: $Blue-active solid 1px;
      color: $Blue-active;
      &:hover{
        background-color: lighten($Blue-active, 40%);
      }
    }
  }

}

.directionActions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include el('item'){
    @include font($Main-Font, 1.1rem, 300, $Blue-active);
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: darken($Blue-active, 15%);
    }
    &:last-child{
      color: $Green;
      &:hover{
        color: darken($Green, 15%);
      }
    }
  }
  @include el(icon){
    font-size:1.3rem!important;
    @include mod('left'){
      margin-right:.5rem;
    }
    @include mod('right'){
      margin-left:.5rem;
    }
  }
}



