.productsGrid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mod('withSide'){
    width: 85%;
    @media all and (max-width: 890px) {
      width: 100%;
    }
  }
  .product{
    margin: 0 1.5rem;
    margin-bottom: 3rem;
  }
}
.productCategories{
  width: 15%;
  @media all and (max-width: 890px) {
    width: 100%;
    margin-bottom:1rem;
  }
  @include el('title'){
    @include font($Main-Font, 1.15rem, 400, $Dark);
    margin-top:0;
    @media all and (max-width: 890px){
      text-align: center;
    }
  }
  @include el('list'){
    list-style: none;
    padding-left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media all and (max-width: 890px){
      justify-content: center;
    }
  }
  @include el('item'){
    margin: 0.5rem;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    margin-left:0;
    @media all and (max-width: 890px) {
      margin: 0.5rem 1rem;
      border-bottom: none;
    }
  }
  @include el('href'){
    @include font($Main-Font, 1rem, 400, $Blue-active);
    background-color: $Blue-light;
    padding: 0.5rem 0.8rem;
    border-radius: 10rem;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: darken($Blue-active, 10%);
    }
  }

}

.product{
  position: relative;
  padding: 0rem 0rem 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 2px 1px rgba(1, 0, 1, 0.10);
  &:hover{
    box-shadow: 0 1px 3px 3px rgba(1, 0, 1, 0.16);
  }
  @include el('image'){
    max-width: 100%;
  }
  @include el('title'){
    height: 3.2rem;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0.8rem 0.6rem 0rem;
    line-height: 1.4rem;
  }
  @include el('titleHref'){
    @include font($Main-Font, 1rem, 400, $Dark);
    text-decoration: none;
    &:hover{
      color: $Blue-active;
    }
  }
  @include el('metaInfo'){
    height: 5.4rem;
    overflow: hidden;
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top:0;
    margin-bottom:1.5rem;
  }
  @include el('metaInfoItem'){
    display: inline-block;
    background-color: $Blue-light;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    margin: 0.4rem .2rem;
    @include font($Main-Font, 0.85rem, 300, $Dark);
  }

  @include el('button'){
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    &:hover{
      :last-child{
        background-color: darken($Blue-active, 10%);
      }
    }
  }
  @include el('buttonIcon'){
    background-color: $Blue-active;
    padding: 0.7rem 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @include font($Main-Font, 1rem, 300, white);
    svg{
      position: relative;
      top: 0.06rem;
      left: 0.3rem;
      margin-right: 0.6rem;
    }
  }
  @include el('buttonPrice'){
    background-color: $Blue-light;
    padding: .776rem 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    @include font($Main-Font, 1rem, 400, $Dark);
  }


}