// //Colors
// $Matherial-Blue:#2D333E;
// $Body-Background: #EDEDED;
// $White:#FFFFFF;
// $Gray: #B9B9B9;
// $Blue: #4B99CC;

// //Font-Family
// $Main-Font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// @mixin font($family-type, $size: 1rem, $weight : normal, $color : $Matherial-Blue){
//   font: {
//     family: $family-type;
//     size: $size;
//     weight: $weight;
//   }
//   color: $color;
// }

