 //Colors
 $Dark: #31343E;
 $Blue-active: #4587C8;
 $Gray: #747474;
 //Font-Family
 $Main-Font: 'Roboto', sans-serif;

 @mixin font($family-type, $size: 1rem, $weight : normal, $color :  $Dark){
   font: {
     family: $family-type;
     size: $size;
     weight: $weight;
   }
   color: $color;
 }

 @mixin el($element){
   &__#{$element}{
     @content;
   }
 }

 @mixin mod($modifier){
   &--#{$modifier}{
     @content;
   }
 }
