.contacts-wrapper{
  display: flex;
  justify-content: space-between;
  .form-main-opt,.contactsInfo{
    width: 47%;
  }
}
.contactsInfo{
  @include el('item'){
    margin-bottom: 2rem;
  }
  @include el('title'){
    @include font($Main-Font, 1rem, 400, $Blue-active);
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    margin-top:0;
  }

  @include el('description'){
    @include font($Main-Font, 0.95rem, 400, $Dark);
    line-height: 1.5rem;
  }
  @include el('list'){
    @include font($Main-Font, 0.95rem, 400, $Dark);
    letter-spacing: 0.06rem;
    line-height: 1.5rem;
    list-style: none;
    padding: 0;
  }
  @include el('list'){
    line-height: 2rem;
  }
  @include el('listItem'){
    a{
      text-decoration: none;
      color: $Dark;
    }
  }
  @include el('listItemIcon'){
    width: 1rem;
    height:1rem;
    padding-right:0.5rem;
    position: relative;
    top: 0.1rem;
    g{
      fill: $Gray;
    }
  }
}