@include breakpoint(max-width 1000px){
  .addCartPopup{
    width: 80%;
  }
}
@include breakpoint(max-width 890px){
  .breadCrumbs{
    padding: 1rem 0;
    @include el('title'){
      margin: 0;
      font-size: 1.5rem;
    }
    @include el('pathList'){
      padding-bottom:1.5rem;
      display: none;
    }
    @include el('listItem'){
      line-height: 2rem;
    }
  }

  //=============  SHOP MENU ================//
  .shopMenu{
    @include el('list'){
    }
    @include el('listItem'){
      display: block;
    }
    @include el('listItemHref'){
      padding: 1rem 1rem;
    }


  }

  //============= CONTAINER ================//
  .container{
    padding: 2rem 1rem;
    @include mod('wide'){
      max-width: 100%;
      padding: 3rem 1rem;
    }
  }


  .notFind {
    @include el('imgWrapper') {
      width: 80%;
    }
  }

}

@include breakpoint(max-width 650px){
  .notFind {
    @include el('imgWrapper') {
      width: 80%;
      height: 16rem;
    }
  }
}

@include breakpoint(max-width 540px){

  .borderedSection{
    @include el('productsList'){
      .product{
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }
  }

  .notFind {
    @include el('title'){
      @include font($Main-Font, 4rem, 500, $Red);
      letter-spacing: 0.5rem;
      text-align: center;
      margin: 1rem;
    }
  }

  .addCartPopup{
    width: 95%;
  }
}
@include breakpoint(max-width 540px){
  .notFind {
    @include el('imgWrapper'){
      width: 95%;
      height: 12rem;
    }
    @include el('title'){
      @include font($Main-Font, 4rem, 500, $Red);
      letter-spacing: 0.5rem;
      text-align: center;
      margin: 1rem;
    }
  }
}




@include breakpoint(max-width 500px){
  .addCartPopup{
    padding-bottom:1.5rem;
    @include el('imgItem'){
      width:70%;
    }
    @include el('cartInfo'){
      flex-direction: column;
      justify-content: center;
      padding-left:1.5rem;
    }
    @include el('cartInfoItem'){
      margin: 0.4rem 0;
    }
    @include el('actions'){
      flex-direction: column;
    }
    @include el('actionsItem'){
      text-align: center;
      margin: 0.5rem 1rem;
    }
  }
}
@include breakpoint(max-width 400px){
  .borderedSection{
    @include el('title'){
      font-size:1.2rem;
      top: -2rem;
    }
  }
  .notFind {
    @include el('subTitle'){
      font-size:1.5rem;
    }
  }
}

@include breakpoint(max-width 320px){
  .borderedSection{
    @include el('title'){
      font-size:1.2rem;
      top: -2rem;
      left: 0;
      padding-left: 0rem;
    }
  }
}

.color-list{
  @include breakpoint(max-width 1024px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.color-item{
  @include breakpoint(max-width 1024px) {
    margin: 0px 1rem 1rem;
  }
}
.tag-list{
  @include breakpoint(max-width 1024px) {
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint(max-width 600px) {
      margin-bottom: 1rem;
    }
  }
}
.tag-item{

    @include breakpoint(max-width 600px) {
      margin-bottom: 1rem;
    }

}
.introSection{
  .item{
    @include breakpoint(max-width 800px) {
      height:31.25rem;
      padding-top: 2.0625rem;
      h1{

        font-size:2.5rem;
        margin-bottom: 0rem;
      }
      h2{
        font-size:2rem;
      }
      @include breakpoint(max-width 600px) {
        height:25rem;
        h1{

          font-size:1.5rem;
          margin-bottom: 0rem;
          line-height: 3.5rem;
        }
        h2{
          font-size:1rem;
          line-height: 1rem;
        }
      }
    }
  }
}